<!-- Homepage Banenr -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%), url('assets/travelnanny_banner.jpg');">
  <div class="banner-content">
    <h1>Welcome to TravelNanny</h1>
    <p>Book a nanny now because you deserve to be on vacation while on vacation ! So pamper yourself now !</p>
      <div class="search" >
        <div class="form-inline">
          <form action='/offers'>
          <input type="text" class="form-control" name="search" placeholder="Location">
          <input type="submit" class="btn" value="Search">
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Travel Nanny Description -->

<div class="container">
  <div class="col-md-6">
    <div class="text-box">
      <h3>Why become a TravelNanny?</h3>
      <p>Not only will you be travelling the world but you will earn great money while doing it. If you are good with kids then do sign up and help make a family travel stress free!</p>
      <div class="text-center">
        <%= link_to 'Become a nanny!', edit_user_registration_path, {class: "btn btn-warning btn-lg"} %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-box">
      <h3>Why hire a TravelNanny?</h3>
      <p>Because finding good help while on vacation is always hard to find! Forget about carrying the diaper bag ! Travel stress free and pamper yourself by hiring a TravelNanny! Because you deserve it!</p>
      <div class="text-center">
        <%= link_to 'View all', offers_path, {class: "btn btn-warning btn-lg"} %>
      </div>
    </div>
  </div>
</div>

<!-- The Top 3 Cities -->

<div class="wrapper-grey padded">
  <div class="container">
  <h3 class="text-center">Where is your next destination?</h3>
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <%= link_to offers_path(:location=>"Paris") do %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%), url('assets/card-paris.jpg');">
            <div class="card-description">
              <h3>Paris</h3>
              <p>Find a Nanny in Paris</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to offers_path(:location=>"Brussel") do %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%), url('assets/card-brussels.jpeg');">
            <div class="card-description">
              <h3>Brussel</h3>
              <p>Find a Nanny in Brussels</p>
            </div>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to offers_path(:location=>"London") do %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(50,0,200,0.5) 0%, rgba(36,0,30,0.5) 50%), url('assets/card-london.jpeg');">
            <div class="card-description">
              <h3>London</h3>
              <p>Find a Nanny in London</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



