<!-- List of all Offers/Nannys -->

<div class="container">
  <h1>List of all Nannys</h1>
  <table class= "table table-hover">
    <thead>
      <tr>
        <th>Nanny</th>
        <th>Location</th>
        <th>Price per Day</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.user.first_name %></td>
          <td><%= offer.location %></td>
          <td><%= offer.price_per_day %></td>
          <td><%= link_to 'Show', offer %> |
          <%= link_to 'Book', new_booking_path(offer_id: offer.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!-- Map -->

  <div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
</div>
