<h1>View all the offers %></h1>


<ul>
  <% if @offer.location %>
    <li><%= @offer.location %></li>
  <% end %>
  <% if @offer.price_per_day %>
    <li><%= @offer.price_per_day %></li>
  <% end %>
  <% if @offer.superpower %>
    <li><%= @offer.superpower %></li>
  <% end %>
  <% if @offer.video %>
    <li><%= @offer.video %></li>
  <% end %>
</ul>

<%= link_to


<h1>View all the offers of <%= current_user.first_name %></h1>

