<div class="container">
    <%= link_to 'Back', offers_path %></td>
    <h1>Nanny in <%= @offer.location %></h1>
</div>

<!-- User Picture and User Name -->
<div class="container">
  <div class="col-md-6">
    <div class="offer-profile">
      <% if @offer.user.facebook_picture_url %>
        <%= cl_image_tag @offer.user.facebook_picture_url, class:"avatar avatar-large" %>
      <% end%>
      <% if @offer.user.image %>
        <%= cl_image_tag @offer.user.image, class:"avatar avatar-large" %>
      <% end%>
        <br>
      <p><b><%= @offer.user.first_name %> <%= @offer.user.last_name %></b></p>
    </div>
  </div>
    <div class="col-md-6">
    <%if @offer.superpower %>
      <h4>My Superpowers</h4>
       <%= @offer.superpower %>
      <!-- Offer Superpower -->
    <% end %>
    </div>
  </div>
</div>

 <!-- Offer Video and Offer price per Day -->
<div class="container">

  <div class="col-md-6">
    <%= embed("https://www.youtube.com/watch?v=BkaFxO-YOX0&ab_channel=MattConnell") %>
  </div>
  <div class="col-md-6">
    <!-- Calendar -->
    <table>
      <thead>
        <th colspan="2"></th>
      </thead>
      <tbody>
        <tr>
          <td><p>Select Date </p></td>
          <td>

            <%= simple_form_for @booking do |f| %>
              <div class="form-inputs">
                <div class="input-daterange input-group" id="datepicker">
                  <%= f.input :start_date, as: :string, required: true, label: false, input_html: { class: 'input-sm form-control start-date' } %>
                  <span class="input-group-addon">to</span>
                  <%= f.input :end_date, as: :string, required: true, label: false, input_html: { class: 'input-sm form-control end-date'} %>
                 </div>
                <%= f.input :offer_id, as: :hidden, input_html: {value: params[:offer_id]} %>
              </div>
              <br>

            <% end %>
          </td>
        </tr>

        <tr>
          <td><p>Price per day:</p></td>
          <td class="text-right"><p><span class="price_per_day"><%= @offer.price_per_day %></span>USD</p></td>
        </tr>
        <tr>
          <td><p>Fees:</p></td>
          <td class="text-right"><p> 50 USD</p></td>
        </tr>
        <tr>
          <td><p><b>Total Price:</p></td>
          <td class="text-right"><p><span class="full-price"><%= @offer.price_per_day + 50 %></span> USD</b></p></td>
        </tr>
        <tr>
          <td><%= link_to 'Book now', bookings_path(offer_id: @offer.id), method: :POST, {class: "btn btn-danger"}  %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- Offer Description-->
<div class="container">
  <p><b>Description of the Nanny </b></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi excepturi ex saepe commodi voluptate, veritatis asperiores repudiandae sit maiores! Voluptas sint vitae inventore delectus nobis maiores esse dolor quo, quibusdam.</p>
</div>


<!-- Add Offer Review-->
<div class="container">
  <h3>Reviews</h3>

</div>

<!-- Javascript-->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.input-daterange').datepicker({
        todayHighlight: true,
    });
    $(document).ready(function(){
      $("#booking_end_date").on("change", function(event){
      var end_date = $("#booking_end_date").datepicker("getDate");
      var start_date = $("#booking_start_date").datepicker("getDate");
      var num_days = (end_date - start_date)/86400000;
        if (num_days == 0) {
          num_days = 1;
          end_date.setTime(end_date.getTime() + (1000*60*60*24))
         $('#booking_end_date').datepicker("setDate", end_date);
        }
      var price_per_day = parseInt($(".price_per_day").text());
      var fee = 50;
      var full_price = (end_date - start_date)/86400000 * price_per_day + fee;
      $(".full-price").text(full_price);
      });
    });
  <% end %>
<% end %>

</div>
