<div class="container">
    <%= link_to 'Back', offers_path %></td>
    <h1>Nanny in <%= @offer.location %></h1>
</div>

<!-- User Picture and User Name -->
<div class="container">
  <div class="col-md-6">
    <div class="offer-profile">
      <% if @offer.user.facebook_picture_url %>
        <%= cl_image_tag @offer.user.facebook_picture_url, class:"avatar avatar-large" %>
      <% end%>
      <% if @offer.user.image %>
        <%= cl_image_tag @offer.user.image, class:"avatar avatar-large" %>
      <% end%>
        <br>
      <p><b><%= @offer.user.first_name %> <%= @offer.user.last_name %></b></p>
    </div>
  </div>
    <div class="col-md-6">
    <%if @offer.superpower %>
      <h4>My Superpowers</h4>
       <%= @offer.superpower %>
      <!-- Offer Superpower -->
    <% end %>
    </div>
  </div>
</div>

 <!-- Offer Video and Offer price per Day -->
<div class="container">
  <div class="col-md-6">
    <div class="embed-container">
      <% if @offer.video %>
        <%= embed(@offer.video) %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
  <div class="booking-form">
  <p><b>Book <%= @offer.user.first_name %> as a Nanny</b></p>
  <table>
    <thead>
      <th colspan="2"></th>
    </thead>
    <tbody>
    <tr>
      <td><p>Select Date </p></td>
    <td>
    <%= simple_form_for [@offer, @booking] do |f| %>
      <div class="form-inputs">
        <div class="input-daterange input-group" id="datepicker">
          <%= f.input :start_date, as: :string, required: true, label: false, input_html: { class: 'input-sm form-control start-date' } %>
          <span class="input-group-addon">to</span>
          <%= f.input :end_date, as: :string, required: true, label: false, input_html: { class: 'input-sm form-control end-date'} %>
        </div>
      </div>
    </td>
    </tr>
    <tr>
      <td><p>Price per day:</p></td>
      <td class="text-right"><p><span class="price_per_day"><%= @offer.price_per_day %></span> USD</p></td>
    </tr>
    <tr>
      <td><p>Fees:</p></td>
      <td class="text-right"><p> 50 USD</p></td>
    </tr>
    <tr>
      <td><p><b>Total Price:</p></td>
      <td class="text-right"><p><span class="full-price"><%= @offer.price_per_day + 50 %></span> USD</b></p></td>
    </tr>
    <tr>
      <td><%= f.submit "Create booking", :class => 'btn create_booking' %></td>
    </tr>
    <% end %>
    </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<!-- Offer Description-->
<div class="container">
  <p><b>About me</b></p>
  <p><%= @offer.description %></p>
</div>


<!-- Add Offer Review-->
<div class="container">
  <h4>Reviews</h4>
  <ul class="dashed">
  <p><% @offer.reviews.each do |review|%></p>
   <li> <%= review.content %></li>
  <%end %>
  </ul>
</div>

<!-- Javascript-->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.input-daterange').datepicker({
        todayHighlight: true,
        format: "yyyy-mm-dd"
    });
    $(document).ready(function(){
      $("#booking_end_date").on("change", function(event){
      var end_date = $("#booking_end_date").datepicker("getDate");
      var start_date = $("#booking_start_date").datepicker("getDate");
      var num_days = (end_date - start_date)/86400000;
        if (num_days == 0) {
          num_days = 1;
          end_date.setTime(end_date.getTime() + (1000*60*60*24))
         $('#booking_end_date').datepicker("setDate", end_date);
        }
      var price_per_day = parseInt($(".price_per_day").text());
      var fee = 50;
      var full_price = (end_date - start_date)/86400000 * price_per_day + fee;
      $(".full-price").text(full_price);
      });
    });
  <% end %>
<% end %>

</div>
