<div class="container">
<h1>Add a Review </h1>
<div class="form-group col-lg-6">
<% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for [@booking, @review] do |f| %>
  <div class="field">
  <%= f.input :content, as: :text  %>
  </div>

   <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, 0..5 %>
  </div>

  <div class="actions">
    <%= f.submit "add a review", :class => 'btn create_booking' %>
  </div>

<% end %>
</div>
</div>
